<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 toppad">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><span>{{customerDetails.firstName}}</span>
                    <span>{{customerDetails.lastName}}</span></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center"><img alt="User Pic"
                                                                        src="template/gfx/gitkot.png"
                                                                        class="img-circle img-responsive"></div>
                    <div class=" col-md-9 col-lg-9 ">
                        <table class="table table-user-information">
                            <tbody>
                            <tr>
                                <td>Name:</td>
                                <td><span>{{customerDetails.firstName}}</span> <span>{{customerDetails.lastName}}</span>
                                </td>
                            </tr>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>{{customerDetails.phone}}</td>
                            </tr>
                            <tr>
                                <td>E-mail</td>
                                <td>{{customerDetails.email}}</td>
                            </tr>
                            <tr>
                                <td>Street</td>
                                <td>{{customerDetails.address.street}}</td>
                            </tr>
                            <tr>
                                <td>City</td>
                                <td>{{customerDetails.address.city}}</td>
                            </tr>
                            <tr>
                                <td>Zip Code</td>
                                <td>{{customerDetails.address.zipCode}}</td>
                            </tr>
                            <tr>
                                <td>Region</td>
                                <td>{{customerDetails.address.region}}</td>
                            </tr>
                            <tr>
                                <td>Country</td>
                                <td>{{customerDetails.address.country}}</td>
                            </tr>
                            </tbody>
                        </table>

                        <a ng-href="#/customers/{{customerDetails.id}}/events" class="btn btn-primary">Events</a>
                        <a ng-href="#/customers/{{customerDetails.id}}/notes" class="btn btn-primary">Notes</a>
                        <a ng-href="#/customers/{{customerDetails.id}}/financials" class="btn btn-primary">Financial
                            Reports</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 tags col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5>Tags</h5>
                            </div>
                            <div class="panel-body">
                                <div class="row tagHolder">
                                    <span class="tag label label-info" ng-repeat="tag in tags">
                                        <span>{{tag.tagName}}</span>
                                        <a ng-click="removeCustomerTag(customerDetails.id, tag.tagName)"><span style="cursor:pointer"><img src="template/gfx/delete.png"</span></a>
                                    </span>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-8 col-xs-8">
                                            <div class="form-group">
                                                <input type="text" class="form-control" ng-model="newTag" placeholder="Type new tag...">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-success" ng-click="saveCustomerTag()">Save tag</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a href="#/customers" class="btn btn-primary">Back</a>
        </div>

    </div>
</div>
</div>
