<div>
    <div class="container-fluid">
        <h2 class="sub-header">Customers</h2>
        <div class="form-group">
        <label>Sort by:</label>
        <select class="form-control" data-ng-model="sortType">
              <option value="id">Id</option>
              <option value="firstName">First Name</option>
              <option value="lastName">Last Name</option>
              <option value="email">E-mail</option>
               <option value="address.city">City</option>
        </select>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#Id</th>
                    <th>First Name</th>
                    <th>Last name</th>
                    <th>E-mail</th>
                    <th>Phone</th>
                    <th>City</th>
                    <th>Details</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="customer in customersList | orderBy:sortType">
                    <td>{{customer.id}}</td>
                    <td>{{customer.firstName}}</td>
                    <td>{{customer.lastName}}</td>
                    <td>{{customer.email}}</td>
                    <td>{{customer.phone}}</td>
                    <td>{{customer.address.city}}</td>
                    <td>
                        <a ng-click="deleteCustomer(customer.id)" class="btn btn-xs btn-danger">Delete</a>
                        <a ng-href="#customers/{{customer.id}}" class="btn btn-xs btn-primary">Details</a>
                        <a ng-click="showUpdateModal(customer)" class="btn btn-xs btn-primary">Edit</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div>

            <button class="btn btn-success pull-right" ng-click="showModal()" ng-show="standardView">Add customer</button>
        </div>
    </div>
</div>
<script type="text/ng-template" id="customerDetailsModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Create customer</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="panel-body">
                <form role="form" name="customerForm" ng-submit="submitCustomerForm()">
                    <div class="form-group">
                        <label class="control-label" for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="Enter first name"
                               ng-model="fields.firstName">
                        <p class="help-block">Please specify customer first name</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Enter last name"
                               ng-model="fields.lastName">
                        <p class="help-block">Please specify customer last name</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email"
                               ng-model="fields.email">
                        <p class="help-block">Please specify customer e-mail</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="phone">Phone</label>
                        <input type="text" class="form-control" id="phone" placeholder="Enter phone number"
                               ng-model="fields.phone">
                        <p class="help-block">Please specify customer phone number</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="street">Street</label>
                        <input type="text" class="form-control" id="street" placeholder="Street"
                               ng-model="fields.address.street">
                        <p class="help-block">Please specify street with home number</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="city">City</label>
                        <input type="text" class="form-control" id="city" placeholder="City"
                               ng-model="fields.address.city">
                        <p class="help-block">Please specify customer city</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="zipCode">Zip Code</label>
                        <input type="text" class="form-control" id="zipCode" placeholder="Zip Code"
                               ng-model="fields.address.zipCode">
                        <p class="help-block">Please specify customer Zip Code</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="region">Region</label>
                        <input type="text" class="form-control" id="region" placeholder="Region"
                               ng-model="fields.address.region">
                        <p class="help-block">Please specify customer region of residence</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="region">Country</label>
                        <input type="text" class="form-control" id="country" placeholder="Country"
                               ng-model="fields.address.country">
                        <p class="help-block">Please specify customer country of residence</p>
                    </div>

                    <!--<div class="form-group">-->
                    <!--<label class="control-label">Sex</label>-->
                    <!--<div class="radio">-->
                    <!--<label>-->
                    <!--<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>-->
                    <!--Male-->
                    <!--</label>-->
                    <!--</div>-->
                    <!--<div class="radio">-->
                    <!--<label>-->
                    <!--<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">-->
                    <!--Female-->
                    <!--</label>-->
                    <!--</div>-->
                    <!--<p class="help-block">Lorem ipsum dolor sit amet</p>-->
                    <!--</div>-->

                    <button type="submit" class="btn btn-default pull-right">Save Customer</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </form>

            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="updateCustomerDetailsModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Update customer</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="panel-body">
                <form role="form" name="customerForm" ng-submit="updateCustomerForm()">
                    <div class="form-group">
                        <label class="control-label" for="firstName">First name</label>
                        <input type="text" class="form-control" placeholder="Enter first name"
                               ng-model="customer.firstName">
                        <p class="help-block">Please specify customer first name</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="lastName">Last name</label>
                        <input type="text" class="form-control" placeholder="Enter last name"
                               ng-model="customer.lastName">
                        <p class="help-block">Please specify customer last name</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email">Email</label>
                        <input type="email" class="form-control" placeholder="Enter email"
                               ng-model="customer.email">
                        <p class="help-block">Please specify customer e-mail</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="phone">Phone</label>
                        <input type="text" class="form-control" placeholder="Enter phone number"
                               ng-model="customer.phone">
                        <p class="help-block">Please specify customer phone number</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="street">Street</label>
                        <input type="text" class="form-control" placeholder="Street"
                               ng-model="customer.address.street">
                        <p class="help-block">Please specify street with home number</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="city">City</label>
                        <input type="text" class="form-control" placeholder="City"
                               ng-model="customer.address.city">
                        <p class="help-block">Please specify customer city</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="zipCode">Zip Code</label>
                        <input type="text" class="form-control" placeholder="Zip Code"
                               ng-model="customer.address.zipCode">
                        <p class="help-block">Please specify customer Zip Code</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="region">Region</label>
                        <input type="text" class="form-control" placeholder="Region"
                               ng-model="customer.address.region">
                        <p class="help-block">Please specify customer region of residence</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="region">Country</label>
                        <input type="text" class="form-control" placeholder="Country"
                               ng-model="customer.address.country">
                        <p class="help-block">Please specify customer country of residence</p>
                    </div>

                    <!--<div class="form-group">-->
                    <!--<label class="control-label">Sex</label>-->
                    <!--<div class="radio">-->
                    <!--<label>-->
                    <!--<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>-->
                    <!--Male-->
                    <!--</label>-->
                    <!--</div>-->
                    <!--<div class="radio">-->
                    <!--<label>-->
                    <!--<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">-->
                    <!--Female-->
                    <!--</label>-->
                    <!--</div>-->
                    <!--<p class="help-block">Lorem ipsum dolor sit amet</p>-->
                    <!--</div>-->

                    <button type="submit" class="btn btn-default pull-right">Save Customer</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </form>

            </div>
        </div>
    </div>
</script>
