<h2>Account settings</h2>

<div class="col-md-10">
    <div class="row">
        <div class="col-md-3">
            <br>
            <p>Go to password settings</p>
            <a ng-href="#settings/password" class="btn btn-success">Change password</a>
        </div>
    </div>
    <div class="row">
        <br>
        <form class="form-horizontal" ng-submit="updateSettingsForm()">
            <fieldset>

                <!-- Form Name -->
                <legend>Edit account settings</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="firstName">First Name</label>
                    <div class="col-md-4">
                        <input id="firstName" ng-model="user.firstName" placeholder="Insert your First Name"
                               class="form-control input-md" required="true" type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="lastName">Last Name</label>
                    <div class="col-md-4">
                        <input id="lastName" ng-model="user.lastName" placeholder="Insert your Last Name"
                               class="form-control input-md" required="true" type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="email">Email</label>
                    <div class="col-md-4">
                        <input id="email" ng-model="user.email" placeholder="Insert your Email"
                               class="form-control input-md" required="true" type="email">
                        <span class="help-block"> </span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="email">Username</label>
                    <div class="col-md-4">
                        <input id="username" placeholder="Insert your username" ng-model="user.username"
                               class="form-control input-md" required="true" type="text" readonly>
                        <span class="help-block"> </span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="password">Password</label>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <input id="password" lastName="password" placeholder="Insert your Password"
                                       ng-model="user.password"
                                       class="form-control input-md" required="true" type="password">
                                <span class="help-block"> </span>
                            </div>
                        </div>
                        <div class="row">
                            <div ng-if="error" class="alert alert-danger">
                                <p>
                                    Cannot update. Invalid password
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="col-md-8">
                <button type="submit" class="btn btn-success pull-right">Update settings</button>
            </div>
        </form>
    </div>
</div>