<div>
    <div class="container-fluid">
        <h2 class="sub-header">All events</h2>
        <div class="table-responsive">

               <div class="form-group">
        <label>Sort by:</label>
        <select class="form-control" data-ng-model="sortType">
              <option value="id">Id</option>
              <option value="Name">Name</option>
              <option value="eventType.eventName">Event Type</option>
              <option value="eventDate">Data</option>

        </select>
        </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Related customer</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="event in eventList | orderBy:sortType">
                    <td>{{event.id}}</td>
                    <td>{{event.name}}</td>
                    <td>{{event.eventType.eventName}}</td>
                    <td>{{ event.eventDate | date }}</td>
                    <td><a ng-href="#customers/{{event.customerId}}" class="btn btn-xs btn-primary">Go to customer</a></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>