<div>
    <div class="container-fluid">
        <h2 class="sub-header">Events</h2>
        <div class="table-responsive">


            <div class="form-group">
        <label>Sort by:</label>
        <select class="form-control" data-ng-model="sortType">
              <option value="id">Id</option>
              <option value="Name">Name</option>
              <option value="eventType.eventName">Event Type</option>
              <option value="eventDate">Data</option>

        </select>
        </div>


            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Details</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="event in eventList | orderBy:sortType">
                    <td>{{event.id}}</td>
                    <td>{{event.name}}</td>
                    <td>{{event.eventType.eventName}}</td>
                    <td>{{ event.eventDate | date }}</td>
                    <td>
                        <a ng-click="deleteEvent(event.id)" class="btn btn-xs btn-danger">Delete</a>
                        <a ng-click="showUpdateModal(event)" class="btn btn-xs btn-primary">Edit</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div>
            <button class="btn btn-success pull-right" ng-click="showModal()"><span class="glyphicon glyphicon-plus"></span>Add event</button>
        </div>
    </div>
</div>
<script type="text/ng-template" id="createEventModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Create event</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="panel-body">
                <form role="form" name="eventForm" ng-submit="submitEventForm()">
                    <div class="form-group">
                        <label class="control-label">Event name</label>
                        <input type="text" class="form-control" placeholder="Enter event name"
                               ng-model="fields.name">
                        <p class="help-block">Please specify event title</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" required>Event type</label>
                        <select ng-model="fields.eventType.id">
                            <option ng-repeat="type in eventTypes" value="{{type.id}}">{{type.eventName}}</option>
                        </select>
                        <p class="help-block">Please specify event title</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <textarea ng-model="fields.description" class="form-control"
                                  placeholder="Enter event description">
                        </textarea>
                        <p class="help-block">Please describe event</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" required>Event date</label>
                        <input type="date" class="form-control" placeholder="Enter event date"
                               ng-model="fields.eventDate">
                    </div>
                    <p class="help-block">Please describe event</p>
                    <button type="submit" class="btn btn-default pull-right">Save Event</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="updateEventModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Update event</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="panel-body">
                <form role="form" name="eventForm" ng-submit="updateEventForm()">
                    <div class="form-group">
                        <label class="control-label">Event name</label>
                        <input type="text" class="form-control" placeholder="Enter event name"
                               ng-model="event.name">
                        <p class="help-block">Please specify event title</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Event type</label>
                        <select ng-model="event.eventType.id" required>
                            <option ng-repeat="type in eventTypes" value="{{type.id}}">{{type.eventName}}</option>
                        </select>
                        <p class="help-block">Please specify event title</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <textarea ng-model="event.description" class="form-control"
                                  placeholder="Enter event description">
                        </textarea>
                        <p class="help-block">Please describe event</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Event date</label>
                        <input type="text" class="form-control" placeholder="Enter event date"
                               ng-model="event.eventDate" datetime="yyyy-MM-dd HH:mm:ss" required>
                    </div>
                    <p class="help-block">Please describe event</p>
                    <button type="submit" class="btn btn-default pull-right">Save Event</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </form>

            </div>
        </div>
    </div>
</script>
