<div>
    <div class="container-fluid">
        <h2 class="sub-header">Financial Report</h2>
        <div class="table-responsive">

                   <div class="form-group">
        <label>Sort by:</label>
        <select class="form-control" data-ng-model="sortType">
              <option value="id">Id</option>
              <option value="title">Title</option>
              <option value="description">Desc</option>
              <option value="amount">Amount</option>
              <option value="createdDate">Data</option>

        </select>
        </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#Id</th>
                    <th>Title</th>
                    <th>description</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Options:</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="financial in financialList | orderBy:sortType">
                    <td>{{financial.id}}</td>
                    <td>{{financial.title}}</td>
                    <td>{{financial.description}}</td>
                    <td>{{financial.amount}}</td>
                    <td>{{financial.createdDate | date }}</td>
                    <td>
                        <a ng-click="deleteFinancial(financial.id)" class="btn btn-xs btn-danger">Delete</a>
                        <a ng-click="showUpdateModal(financial)" class="btn btn-xs btn-primary">Edit</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div>
            <button class="btn btn-success pull-right" ng-click="showModal()"><span class="glyphicon glyphicon-plus"></span>Add Financial Raport</button>
        </div>
    </div>
</div>
<script type="text/ng-template" id="createFinancialModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Create Financial Raport</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="panel-body">
                <form role="form" name="financialForm" ng-submit="submitFinancialForm()">
                    <div class="form-group">
                        <label class="control-label">Financial Raport title</label>
                        <input type="text" class="form-control" placeholder="Enter Financial Raport title"
                               ng-model="fields.title">
                        <p class="help-block">Please specify Financial Raport title</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <textarea ng-model="fields.description" class="form-control"
                                  placeholder="Enter Financial Raport description">
                        </textarea>
                        <p class="help-block">Please describe Financial Raport</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Amount</label>
                        <input type="number" ng-model="fields.amount" class="form-control"
                                  placeholder="Enter Financial Raport amount">
                        </input>
                        <p class="help-block">Please describe Financial Raport</p>
                    </div>
                    <button type="submit" class="btn btn-default pull-right">Save Financial Raport</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="updateFinancialModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Update Financial Raport</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="panel-body">
                <form role="form" name="financialForm" ng-submit="updateFinancialForm()">
                    <div class="form-group">
                        <label class="control-label">Financial Raport title</label>
                        <input type="text" class="form-control" placeholder="Enter Financial Raport title"
                               ng-model="financial.title">
                        <p class="help-block">Please specify Financial Raport title</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <textarea ng-model="financial.description" class="form-control"
                                  placeholder="Enter note description">
                        </textarea>
                        <p class="help-block">Please describe Financial Raport</p>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Amount</label>
                        <textarea ng-model="financial.amount" class="form-control"
                                  placeholder="Enter Financial Raport amount">
                        </textarea>
                        <p class="help-block">Please describe Financial Raport</p>
                    </div>

                    <button type="submit" class="btn btn-default pull-right">Save Note</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </form>

            </div>
        </div>
    </div>
</script>
