<h1 class="page-header">Dashboard</h1>

<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="template/gfx/customer.png"
             width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
        <h2>{{stats.customers}}</h2>
        <h4>Customers</h4>
        <span class="text-muted">Number of customers</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="template/gfx/events.png"
             width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
        <h2>{{stats.events}}</h2>
        <h4>Events</h4>
        <span class="text-muted">Number of events</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="template/gfx/note.png"
            width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
        <h2>{{stats.notes}}</h2>
        <h4>Notes</h4>
        <span class="text-muted">Number of notes</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="template/gfx/raports.png"
             width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
        <h2>{{stats.reports}}</h2>
        <h4>Reports</h4>
        <span class="text-muted">Number of reports</span>
    </div>
</div>

<h2 class="sub-header">Dashboard shows basic stats of your CRM account</h2>