<div>
    <div class="container-fluid">
        <h2 class="sub-header">Notes</h2>
        <div class="table-responsive">
                         <div class="form-group">
        <label>Sort by:</label>
        <select class="form-control" data-ng-model="sortType">
              <option value="id">Id</option>
              <option value="title">Title</option>
              <option value="description">Desc</option>
              <option value="createdDate">Data</option>

        </select>
        </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#Id</th>
                    <th>Title</th>
                    <th>Desrciptions</th>
                    <th>Date</th>
                    <th>Options:</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="note in noteList | orderBy:sortType">
                    <td>{{note.id}}</td>
                    <td>{{note.title}}</td>
                    <td>{{note.description}}</td>
                    <td>{{note.createdDate | date }}</td>
                    <td>
                        <a ng-click="deleteNote(note.id)" class="btn btn-xs btn-danger">Delete</a>
                        <a ng-click="showUpdateModal(note)" class="btn btn-xs btn-primary">Edit</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div>
            <button class="btn btn-success pull-right" ng-click="showModal()"><span class="glyphicon glyphicon-plus"></span>Add note</button>
        </div>
    </div>
</div>
<script type="text/ng-template" id="createNoteModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Create note</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="panel-body">
                <form role="form" name="noteForm" ng-submit="submitNoteForm()">
                    <div class="form-group">
                        <label class="control-label">Note title</label>
                        <input type="text" class="form-control" placeholder="Enter note title"
                               ng-model="fields.title">
                        <p class="help-block">Please specify note title</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <textarea ng-model="fields.description" class="form-control"
                                  placeholder="Enter note description">
                        </textarea>
                        <p class="help-block">Please describe note</p>
                    </div>


                    <button type="submit" class="btn btn-default pull-right">Save Note</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="updateNoteModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Update note</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="panel-body">
                <form role="form" name="noteForm" ng-submit="updateNoteForm()">
                    <div class="form-group">
                        <label class="control-label">Note title</label>
                        <input type="text" class="form-control" placeholder="Enter note title"
                               ng-model="note.title">
                        <p class="help-block">Please specify event title</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <textarea ng-model="note.description" class="form-control"
                                  placeholder="Enter note description">
                        </textarea>
                        <p class="help-block">Please describe note</p>
                    </div>


                    <button type="submit" class="btn btn-default pull-right">Save Note</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </form>

            </div>
        </div>
    </div>
</script>
