<div class="container">
    <div class="row">
        <h2>Registration form</h2>

        <form class="form-horizontal" ng-submit="submitRegisterForm()">
            <fieldset>

                <!-- Form Name -->
                <legend>Create account in CRM system</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="firstName">First Name</label>
                    <div class="col-md-4">
                        <input id="firstName" ng-model="fields.firstName" placeholder="Insert your First Name"
                               class="form-control input-md" required="true" type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="lastName">Last Name</label>
                    <div class="col-md-4">
                        <input id="lastName" ng-model="fields.lastName" placeholder="Insert your Last Name"
                               class="form-control input-md" required="true" type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="email">Email</label>
                    <div class="col-md-4">
                        <input id="email" ng-model="fields.email" placeholder="Insert your Email"
                               class="form-control input-md" required="true" type="email">
                        <span class="help-block"> </span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="email">Username</label>
                    <div class="col-md-4">
                        <input id="username" placeholder="Insert your username" ng-model="fields.username"
                               class="form-control input-md" required="true" type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="password">Password</label>
                    <div class="col-md-4">
                        <input id="password" lastName="password" placeholder="Insert your Password" ng-model="fields.password"
                               class="form-control input-md" required="true" type="password">
                        <span class="help-block"> </span>
                    </div>
                </div>
            </fieldset>
            <div class="col-md-8">
                <button type="submit" class="btn btn-success pull-right">Register</button>
            </div>
        </form>

    </div>
</div>
</div>