<div>
    <div class="container-fluid">
        <h2 class="sub-header">Tags</h2>
        <div class="table-responsive">
                             <div class="form-group">
        <label>Sort by:</label>
        <select class="form-control" data-ng-model="sortType">
              <option value="id">Id</option>
              <option value="tagName">Tag name</option>
        </select>
        </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#Id</th>
                    <th>Name</th>
                    <th>Customers in tag</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tag in tags | orderBy:sortType">
                    <td>{{tag.id}}</td>
                    <td>{{tag.tagName}}</td>
                    <td>{{tag.customersId.length}}</td>
                    <td>
                        <a ng-click="deleteTag(tag.id)" class="btn btn-xs btn-danger">Delete</a>
                        <a ng-href="#/tags/{{tag.tagName}}" class="btn btn-xs btn-primary">Show customers in tag</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
