<div>
    <div class="container-fluid">
        <h2 class="sub-header">CRM system users</h2>
        <div class="table-responsive">
                                 <div class="form-group">
        <label>Sort by:</label>
        <select class="form-control" data-ng-model="sortType">
              <option value="id">Id</option>
              <option value="username">User Name</option>
              <option value="roles">Roles</option>
        </select>
        </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#Id</th>
                    <th>Username</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Roles</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in users | orderBy:sortType">
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.roles}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>