/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;


}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}


/*
Customer card details
*/

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

.tags{
    margin-top: 25px;
}
.tagHolder{
    padding: 0 25px 25px 25px;
}
.tag{
  color: #000;
  font-size:15px;
    margin-left: 10px;
  background: #f7f7f7;
}


.tag a span { padding: 2px; color:red; margin-left:3px;}

.navbar-header .navbar-brand { font-weight: bold; color: #fff; text-shadow: 1px 1px 15px #fff;}
.navbar-brand:before { content: ""; border: 4px solid #fff; padding: 4px 0px; margin-right: 10px;}
.panel-info .panel-heading {background: #eeeeee;}
.panel-info .panel-heading {border:none;}
.panel-info .panel-title {color:#414141;}
.panel-info {border: 1px solid #999;}

header {border-bottom: 3px solid #ccc;}

.sidebar {border-right: 1px solid #ccc;}

table thead tr th {background: #414141; color: #f7f7f7; text-shadow: 1px 1px 1px #000; border: none;}

h1.page-header {text-shadow: 1px 1px 1px #999;}
h2.sub-header {text-shadow: 1px 1px 1px #999;}

