<div>
    <div class="container-fluid">
        <h2 class="sub-header">Event types</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#Id</th>
                    <th>Event type name</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="eventType in eventTypes">
                    <td>{{eventType.id}}</td>
                    <td>{{eventType.eventName}}</td>
                    <td>
                        <a ng-click="deleteEventType(eventType.id)" class="btn btn-xs btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-6 col-md-offset-2">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="newEventType"
                           placeholder="New event type...">
                </div>
            </div>
            <div class="col-md-4">
                <button class="btn btn-success" ng-click="saveEventType()">Save event type</button>
            </div>
        </div>
        <hr>
    </div>
</div>