<div>
    <div class="container-fluid">
        <h2 class="sub-header">All financial reports</h2>
        <div class="table-responsive">

                        <div class="form-group">
        <label>Sort by:</label>
        <select class="form-control" data-ng-model="sortType">
              <option value="id">Id</option>
              <option value="title">Title</option>
              <option value="description">Desc</option>
              <option value="amount">Amount</option>
              <option value="createdDate">Data</option>

        </select>
        </div>


            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#Id</th>
                    <th>Title</th>
                    <th>description</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Related customer</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="financial in financialList | orderBy:sortType">
                    <td>{{financial.id}}</td>
                    <td>{{financial.title}}</td>
                    <td>{{financial.description}}</td>
                    <td>{{financial.amount}}</td>
                    <td>{{financial.createdDate | date }}</td>
                    <td>
                        <a ng-href="#customers/{{financial.customerId}}" class="btn btn-xs btn-primary">Go to customer</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
    </div>
</div>