<h2>Account settings</h2>

<form class="form-horizontal" ng-submit="updatePasswordForm()">
    <fieldset>

        <!-- Form Name -->
        <legend>Update password</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Current password</label>
            <div class="col-md-4">
                <input id="password" ng-model="fields.password" placeholder="Insert current password"
                       class="form-control input-md" required="true" type="password">
                <span class="help-block"> </span>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="newPassword">New password</label>
            <div class="col-md-4">
                <input id="newPassword" ng-model="fields.newPassword" placeholder="Type new password"
                       class="form-control input-md" required="true" type="password">
                <span class="help-block"> </span>
            </div>
        </div>
        <div class="row">
            <div ng-if="error" class="alert alert-danger">
                <p>
                    Cannot update. Invalid password
                </p>
            </div>
        </div>
    </fieldset>
    <div class="col-md-7">

        <button type="submit" class="btn btn-success pull-right">Save new password</button>

    </div>
</form>
<div class="row">
        <a ng-href="#settings" class="btn btn-primary">Back</a>
</div>

</div>